.TodoSearch {
  border-radius: 50px;
  background: #F9FBFC;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  height: 64px;
  width: calc(100% - 10px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}
